@import "variables/colores";
@import "variables/tipografias";

/*--------------------------------ESTILOS GENERALES--------------------------------*/
section {
    padding: 2% 10%;
}

.transformScale:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.botonTurquesaLight {
    background-color: white;
    color: $color-header;
    border: 2px solid $color-header;
    transition: all 0.3s;
}

.botonTurquesaLight:hover {
    background-color: $color-header;
    color: white;
    transition: all 0.3s;
}

.botonTraslucido {
    background-color: $color-blancoTransparente;
    font-weight: 500;
    color: black;
    transition: all 0.3s;
}

.botonVerde {
    background-color: $color-verde;
    color: white;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 50px;
    text-decoration: none;
    transition: all 0.3s;
}

.seccionFondoGris {
    background-color: $color-fondoGris;
    margin-top: 50px;
}

.tituloSeccion {
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid $color-grisClaro;
    font-family: $tipo-titulos;

    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 50px;
    }
}

/*---------------------------------HEADER--------------------------------*/
header {
    background: $color-header;
    font-size: 1.4rem;
    font-family: $tipo-titulos;

    .ubicacion {
        font-size: 1.2rem;
        text-decoration: none;
        padding-top: 10px;
    }
    h1 {
        color: $color-h1;
        color: white;
        text-align: left;
        font-family: $tipo-marca;
    }
    .transformScale:hover {
        color: white;
    }
}

/*--------------------------------FOOTER--------------------------------*/
footer {
    background-color: $color-footer;
    background-color: #F9F9F9;

    .link-dark:hover {
        color: $color-header;
    }
    .redes {
        font-size: 1.4rem;
    }
}

/*----------------------FORMATO DE PAGINA DE INICIO-----------------------*/

.carousel {
    h3 {
        font-size: 1.9rem;
        font-family: $tipo-titulos;
        font-weight: bold;
    }
    p {
        font-size: 1.3rem;
    }
}

.seccionAsesoramiento {
    .recuadroIcono {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        border-radius: .75rem;
        background-color: white;
        .bi {
            vertical-align: auto;
            color: $color-verde;
        }
    }

    h3 {
        font-family: $tipo-titulos;
        font-size: 1.5rem;
        font-weight: 600;
    }

    p {
        font-size: 1.1rem;
    }
}

.tarjetasEspecies {
    height: 300px;
    color: white;
    border-radius: 10px;

    h2 {
        font-family: $tipo-titulos;
        font-weight: 800;
        text-shadow: black 1px 2px;
    }

    a {
        font-size: .8rem;
    }

    a:hover {
        border: solid white 2px;
        transition: all 0.3s;
    }
}


/*---------------------FORMATO DE PAGINA DE CATALOGO----------------------*/

.menuCatalogo {
    font-size: 1.1rem;
    a {
        text-decoration: none;
        color: black;
    }
    .especies:hover {
        color: $color-header;
        text-decoration: underline;
        font-weight: 500;
    }
}

.tituloCatalogo {
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 1px solid $color-grisClaro;
    font-family: $tipo-titulos;

    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 10px;
        color: $color-verde;
    }
}

.marcoProducto {
    border: 1px solid $color-grisClaro;
    margin-bottom: 30px;
    padding-bottom: 20px;

    img {
        width: 100%;
        overflow: hidden;
    }

    .infoProducto {
        padding: 5%;
        position: relative;

        p {
            font-size: 17px;
            color: $color-azul;
            margin-bottom: 10px;
        }
        .precioProducto {
            margin-bottom: 15px;
            font-size: 18px;
            color: black;
        }
        .nombreProducto {
            margin-bottom: 30px;
            font-size: 1.1rem;
        }
        .botonComprar {
            position: absolute;
            right: 20px;
            bottom: -5px;
            font-size: 1rem;
            background-color: white;
            color: $color-verde;
            font-weight: 450;
            text-decoration: none;
            border: 1px solid $color-verde;
            margin-top: 20px;
            transition: all 0.3s;
        }
        .botonComprar:hover {
            transform: scale(1.1);
            transition: all .5s;
            background-color: $color-verde;
            color: white;
        }
        .sinStock {
            color: $color-rojo;
        }
        .botonNoDisponible {
            position: absolute;
            right: 20px;
            bottom: -5px;
            font-size: 1rem;
            background-color: white;
            color: grey;
            font-weight: 450;
            text-decoration: none;
            border: 1px solid $color-grisClaro;
            margin-top: 20px;
            cursor: default;
        }
    }
}

/*------------------------FORMATO DE PAGINA BLOG------------------------*/
.notasBlog {
    margin-top: 30px;
    margin-bottom: 30px;

    img {
        width: 100%;
    }
    span {
        font-size: 1.1rem;
    }
    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin: 20px 0;
        font-family: $tipo-titulos;
    }
    p {
        font-weight: 1.1rem;
    }
    a {
        color: $color-verde;
    }
    a:hover {
        font-weight: 600;
    }
}

.contenidoNotas {
    margin-left: 30px;
    margin-right: 30px;

    img {
        width: 100%;
    }
    p {
        margin-top: 30px;
        font-size: 1.1rem;
    }
    h3 {
        font-size: 1.5rem;
        font-family: $tipo-titulos;
        font-weight: 600;
        margin-top: 40px;
        color: $color-header;
    }

    .stickyDerecho {
        h4 {
            font-size: 1.3rem;
        }
        .botonEtiqueta {
            border: none;
            border-radius: 20px;
        }
        .botonEtiqueta:hover {
            background-color: $color-blancoTransparente;
            color: $color-verde;
        }
        a {
            text-decoration: none;
            color: black;
            font-family: $tipo-titulos;
            font-size: 1.2rem;          
        }
        
        a:hover {
            font-weight: 600;
        }
        img{
            // border-radius: 10px;
            border-top: solid 1px $color-grisClaro ;
            padding-top: 10px;
        }
        p {
            margin-top: 0px;
            font-size: 1rem;
            color: $color-grisOscuro;
        }
        .volver {
            font-size: 1.1rem;
            text-decoration: underline;
            color: $color-verde;

        }
    }
}

.comentarios {
    border: solid 1px $color-grisClaro;
    border-radius: 10px;
    margin-bottom: 50px;
}


/*-----------------------FORMATO DE PAGINA DE NOSOTROS--------------------*/

.seccionNosotros {
    margin-top: 50px;

    .imagenDerecha img {
        width: 100%;
        overflow: hidden;
    }

    .infoIzquierda {
        span {
            text-transform: uppercase;
            font-size: 1rem;
            color: $color-grisOscuro;
            letter-spacing: 1px;
            margin-bottom: 10px;
            display: block;
        }
        h2 {
            font-size: 2.2rem;
            font-weight: 600;
            margin-bottom: 35px;
            font-family: $tipo-marca;
        }
        em {
            font-style: normal;
            color: $color-verde;
            font-family: $tipo-titulos;
            font-size: 1.6rem;
        }
        p {
            font-size: 1.1rem;
        }
        a:hover {
            color: white;
        }
    }
}

.miembroEquipo {
    img {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .infoEquipo {
        background-color: white;
        padding: 30px;

        h4 {
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0.25px;
            margin-bottom: 0;
            padding-top: 10px;
        }
        .redes {
            font-size: 1.2rem;
        }
        span {
            color: $color-verde;
            font-weight: 600;
            font-size: 1.2rem;
            display: block;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 20px;
            font-size: 1.1rem;
        }
    }
}

/*---------------------FORMATO DE PAGINA DE CONTACTO---------------------*/
.contactoInfo {
    margin-top: 50px;

    .contactoItem {
        padding: 40px 30px;
        margin-bottom: 30px;
        background-color: $color-fondoGris;
        text-align: center;

        i {
            color: $color-verde;
            font-size: 48px;
            margin-bottom: 40px;
        }
        h4 {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 20px;
            font-size: 1.1rem;
        }
        a {
            font-weight: 600;
            color: $color-verde;
            font-size: 15px;
        }
    }
}



form {
    width: 70%;
    margin: auto;
    font-size: 1.1rem;

    label {
        color: $color-verde;
    }
}




/*
    ¡¡¡PARA RETOMAR LA COMPILACION LUEGO DE CERRAR EL PROYECTO!!!
     1- Entrar a la consola y posicionarme en la carpeta de mi proyecto con el comando cd
        C:\Users\Karen\Desktop\Desarrollo Web - CoderHouse\•ROUND DOS•\PROYECTO FINAL - FINAL

     2- Ejecutar el comando: npm run watch-css. Y listo, sigo programando con SASS 

*/