
$color-header: #63bfce;
$color-h1: #d2eff8;
$color-fondoGris: #f7f7f7;
$color-footer: #b4b3b3;
$color-verde: #a4c639;
$color-azul: #1a6692;
$color-rojo: #fd1919;
$color-grisClaro: #eee;
$color-grisOscuro: #666;
